a{
    margin: 1vh 1vw;   
    display: block;
    color: #f5f5f5;
}
.menuItem-card:hover{
    box-shadow: 0px 0px 15px 2px #c2185b;
    background-color: #424242d9;
}
.menuItem-card{
    display: inline-block;
    width: 20vw;
    min-width: 300px;
    height: fit-content;
    border-radius: 10px;
    background-color: rgba(66, 66, 66, .7);
}
img{
    width: 100%;
    border-radius: 10px !important;
    border: 1px solid whitesmoke;
}
.sub-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-sub{
    width: fit-content;
}
.rating-star{
    color: goldenrod;
}