<div id="login-container">
    <div id="login-box">
        <h1 id="title">Admin Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" id="username">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username" />
                <mat-error *ngIf="username?.errors?.['required']">
                    Username is required.
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" id="password">
                <mat-label>Password</mat-label>
                <input matInput type="{{(showPassword === false)?'password':'text'}}" formControlName="password" />
                <mat-icon matSuffix style="cursor: pointer;" (click)="toggleShowPassword()">
                    {{!showPassword?'visibility':'visibility_off'}}</mat-icon>
                <mat-error *ngIf="password?.errors?.['required']">
                    Password is required.
                </mat-error>
            </mat-form-field>
            <div id="button-container">
                <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">Log In</button>
            </div>
        </form>
    </div>
</div>