/* Write CSS code here */

/* #region Constants */
:root{
    --background-color: #f9f4ed;
    --list-separator-color: #e0dbd5;
    --main-font-family: 'Dosis', sans-serif;
    --primary-text-color: #444444;
    --red-highlights-color: #cc6666;
    --secondary-font-family: 'Bitter', sans-serif;
    --secondary-text-color: #a29f9d;
    --intro-margin: 15rem;
    --body-margin: 13rem;
    --rl-padding: calc(var(--intro-margin) - var(--body-margin));
}
/* #endregion */

/* #region Body baseline common settings */
body{    
    background-color: var(--background-color);   
    color: var(--primary-text-color); 
    font-family: var(--main-font-family);
}
/* #endregion */

/* #region Profile intro styles */
/* Profile logo/heading style */
#mainHeading{
    border-radius: .31rem;
    border: .36rem solid var(--primary-text-color);
    font-family: 'Caveat', sans-serif;
    line-height: 0;
    padding: 0 .7rem;
    width: fit-content;
}

/* Image style */
img{
    padding-top: 1rem;
    width: 20rem;
}

/* Profile main tagline style */
#tagLine{
    background-color: var(--red-highlights-color);
    border-radius: .31rem;
    color: var(--background-color);
    font-size: 1rem;    
    font-weight: bold;
    letter-spacing: .13rem;
    padding: .62rem;
}

/* Profile Name Style */
#name{
    font-size: 3.5rem;
    font-weight: bolder;
    letter-spacing: .5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

/* Profile bio stye */
#bio{
    font-family: var(--secondary-font-family);
    font-size: 1.3rem;
    padding: 0 1rem;
}
/* #endregion */

/* #region Section divider style */
hr{
    border-radius: .31rem;
    border: .42rem solid var(--red-highlights-color);
    margin-bottom: 2rem;
    margin-top: 2rem;
}
/* #endregion */

/* #region Common anchor tag settings*/
a{
    color: var(--primary-text-color);
    text-decoration: none;
}
/* #endregion */

/* #region Main content style */
/* Section headings style */
section h2{
    border-bottom: .1rem solid var(--list-separator-color);
    font-size: 1.25rem;
    font-weight: lighter;
    letter-spacing: .14rem;
    padding: 1rem var(--rl-padding) 1rem;
    text-transform: uppercase;
}
/* List style */
ul{
    list-style-type: none;
    padding: 0;
}
/* List item style */
ul li{
    border-bottom: .1rem solid var(--list-separator-color);
    color: var(--secondary-text-color);
    margin-top: 0;
    padding: 0 var(--rl-padding);
}
/* Heading inside list item style */
li h3{
    font-family: var(--main-font-family);
    font-size: 1.75rem;
    letter-spacing: .12rem;
    margin-bottom: 0;
    margin-top: 1rem;
    padding: 0;
    text-transform: uppercase;
}
/* Paragraph inside list item style */
li p{
    font-family: var(--secondary-font-family);
    margin-bottom: 1rem;
    margin-top: 0;
}
/* #endregion */

/* #region Nav style */
/* Profile bottom nav list style */
#navList{
    border-top: .1rem solid var(--list-separator-color);
    font-family: var(--main-font-family);
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
/* Nav list item style */
nav ul li{
    padding: .7rem var(--rl-padding);
}
/* #endregion */

/* #region Footer style */
footer{
    font-family: var(--secondary-font-family);
    margin-bottom: 3rem;
    margin-top: 3rem;
}
/* #endregion */

/* #region Style helper classes */
.capitalize{
    text-transform: uppercase;
}
.center{
    text-align: center;
}

.headingMargin{    
    margin-left: var(--intro-margin);
    margin-right: var(--intro-margin);
}

.bodyMargin{
    margin-left: var(--body-margin);
    margin-right: var(--body-margin);
}
/* #endregion */