<mat-card matRipple class="note-card">
    <mat-card-title-group>
        <button *ngIf="note?.priority==='Critical'" color="accent" mat-icon-button class="priority-button">
            <mat-icon mat-card-avatar>gpp_maybe</mat-icon>
        </button>
        <button *ngIf="note?.priority==='High'" color="accent" mat-icon-button class="priority-button">
            <mat-icon>arrow_circle_up</mat-icon>
        </button>
        <button *ngIf="note?.priority==='Medium'" color="primary" mat-icon-button class="priority-button">
            <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <button *ngIf="note?.priority==='Low'" color="primary" mat-icon-button class="priority-button">
            <mat-icon>arrow_circle_down</mat-icon>
        </button>
        <mat-card-title>
            <h2>{{note?.title}}</h2>
        </mat-card-title>
        <mat-card-subtitle>
            {{note?.reminderDate | date:'short'}}
        </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
        <p>{{note?.content}}</p>
        <p id="note-category">{{note?.category}}</p>
    </mat-card-content>
</mat-card>