#add-note-container{
    margin: 1rem auto;
    width: 30%;
}
h5{
    margin-bottom: 2.5rem;
}

textarea{
    width: 100%;
}
.mat-form-margin-delete{
    width: 90%;
}
#add-note-button{
    position: fixed;
    top: 90vh;
    right: 1vw;
    z-index: 9999;
}
#date-picker{
    width: 60%;
}
#radio-buttons{
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    flex-wrap: wrap;
}
.form{
    margin: 1rem 2rem;
}
button{
    margin: 1rem  0;
}